<nav ata-sidebar-position="left" id="sidebar" class="sidebar" [ngClass]="{ sidebarCollapsed: !isOpen }">
  <div class="pt-3">
    <div class="sidebar-top">
      <div class="user user-image">
        <div class="img-responsive d-flex justify-content-center">
          <img src="assets/images/user2.jpg" class="image" width="30%" />
        </div>
      </div>
      <div class="user user-title">
        <h2><strong>Akour</strong> Mohamed</h2>
      </div>
    </div>
  </div>

  <div id="sidebar-menu">
    <ul class="metismenu" id="side-menu">
      <li class="menu-title">Navigation</li>

      <li>
        <a href="javascript: void(0);" class="active">
          <i class="fa fa-home"></i>
          <span class="badge badge-success badge-pill float-right">4</span>
          <span> Dashboards </span>
        </a>
        <ul class="nav-second-level" aria-expanded="false">
          <li>
            <a href="index.html">Dashboard 1</a>
          </li>
          <li>
            <a href="dashboard-2.html">Dashboard 2</a>
          </li>
          <li>
            <a href="dashboard-3.html">Dashboard 3</a>
          </li>
          <li>
            <a href="dashboard-4.html">Dashboard 4</a>
          </li>
        </ul>
      </li>

      <li class="menu-title mt-2">Components</li>

      <li>
        <a href="javascript: void(0);">
          <i class="fe-briefcase"></i>
          <span> UI Elements </span>
          <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level" aria-expanded="false">
          <li>
            <a href="ui-dropdowns.html">Dropdowns</a>
          </li>
          <li>
            <a href="ui-ribbons.html">Ribbons</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="javascript: void(0);">
          <i class="fe-layers"></i>
          <span class="badge badge-info float-right">Hot</span>
          <span> Admin UI </span>
        </a>
        <ul class="nav-second-level" aria-expanded="false">
          <li>
            <a href="admin-widgets.html">Widgets</a>
          </li>
          <li>
            <a href="admin-nestable.html">Nestable List</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="javascript: void(0);">
          <i class="fe-folder-plus"></i>
          <span> Multi Level </span>
          <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level nav" aria-expanded="false">
          <li>
            <a href="javascript: void(0);">Level 1.1</a>
          </li>
          <li>
            <a href="javascript: void(0);" aria-expanded="false"
              >Level 1.2
              <span class="menu-arrow"></span>
            </a>
            <ul class="nav-third-level nav" aria-expanded="false">
              <li>
                <a href="javascript: void(0);">Level 2.1</a>
              </li>
              <li>
                <a href="javascript: void(0);">Level 2.2</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="clearfix"></div>
</nav>
