.sidebar {
  min-width: 260px;
  max-width: 260px;
  direction: ltr;
  background: #293042;
  height: 100%;
  position: relative;
  transition: margin-left .35s ease-in-out,left .35s ease-in-out,margin-right .35s ease-in-out,right .35s ease-in-out;

  &-top {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .user {
      &-title {
        color: white;
      }

      .image {
        border: 5px double #007bff;
        border-radius: 100%;
        max-width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }


}
.sidebarCollapsed {
  margin-left: -260px;
}

.metismenu {
  padding: 0
}

.metismenu li {
  list-style: none
}

.metismenu ul {
  padding: 0
}

.metismenu ul li {
  width: 100%
}

.nav-second-level li a, .nav-thrid-level li a {
  padding: 8px 20px;
  color: #6e768e;
  display: block;
  position: relative;
  -webkit-transition: all .4s;
  transition: all .4s;
  font-size: .875rem;
  text-decoration: none;
}

.nav-second-level li a:focus, .nav-second-level li a:hover, .nav-thrid-level li a:focus, .nav-thrid-level li a:hover {
  color: #fff
}

.nav-second-level li.mm-active > a, .nav-third-level li.mm-active > a {
  color: #fff
}

#sidebar-menu > ul > li > a {
  color: #6e768e;
  display: block;
  padding: 13px 20px;
  position: relative;
  -webkit-transition: all .4s;
  transition: all .4s;
  font-family: 'Poppins', sans-serif;
  font-size: .95rem
}

#sidebar-menu > ul > li > a:active, #sidebar-menu > ul > li > a:focus, #sidebar-menu > ul > li > a:hover {
  color: #fff;
  text-decoration: none
}

#sidebar-menu > ul > li > a > span {
  vertical-align: middle
}

#sidebar-menu > ul > li > a i {
  display: inline-block;
  line-height: 1.0625rem;
  margin: 0 10px 0 3px;
  text-align: center;
  vertical-align: middle;
  width: 20px
}

#sidebar-menu > ul > li > a .drop-arrow {
  float: right
}

#sidebar-menu > ul > li > a .drop-arrow i {
  margin-right: 0
}

#sidebar-menu > ul > li > a.active {
  color: #fff;
  background-color: #434e59;
  border-right-color: #fff;
}

#sidebar-menu > ul > li > ul {
  padding-left: 40px
}

#sidebar-menu > ul > li > ul ul {
  padding-left: 20px
}

#sidebar-menu .menu-arrow {
  -webkit-transition: -webkit-transform .15s;
  transition: -webkit-transform .15s;
  transition: transform .15s;
  transition: transform .15s, -webkit-transform .15s;
  position: absolute;
  right: 20px;
  display: inline-block;
  font-family: 'Material Design Icons';
  text-rendering: auto;
  line-height: 1.5rem;
  font-size: 1.1rem;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0)
}

#sidebar-menu .menu-arrow:before {
  content: "\f105";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

#sidebar-menu .badge {
  margin-top: 4px
}

#sidebar-menu li.mm-active > a > span.menu-arrow {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}

#sidebar-menu .menu-title {
  padding: 10px 20px;
  letter-spacing: .05em;
  pointer-events: none;
  cursor: default;
  font-size: .6875rem;
  text-transform: uppercase;
  color: #6e768e;
  font-weight: 600
}




